body {
	font-family: "Open Sans" , sans-serif; 
	font-size: 16px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-weight: 900;
}

h2 , h3 , form , btn, .credits , .skill-text , .skill-title{
     text-align: center 
}

.header {
    background: rgba(77,190,255,1);
    background: -moz-linear-gradient(left, rgba(77,190,255,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77,190,255,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(left, rgba(77,190,255,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(left, rgba(77,190,255,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(left, rgba(77,190,255,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(to right, rgba(77,190,255,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbeff', endColorstr='#3790d9', GradientType=1 );
	padding-top: 60px;
	padding-bottom: 225px;
	color: #fff;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.offer {
	width: 555px;
}

.title {
	font-size: 36px;
}

.title span {
	font-size: 59px;
}

.intro {
	margin-bottom: 37px;
	margin-top: 30px;
	width: 400px;
}

.btn {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	text-align: center;
	background: rgba(255, 212, 41);
	color: rgba(46, 42, 27);
	display: block;
	width: 220px;
	padding: 21px 0;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #ed9619;;
}

h2 , h3 , .form , .credits {
     text-align: center 
}

.desktop {
	margin-top: 72px;
}

.learn {
	padding-top: 108px;
	padding-bottom: 120px;
}

.section-title {
	font-size: 30px;
}

.skill{
   	text-align: center;
}

.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
}

.skill-title {
    font-size: 18px;
}

.skill-text {
	margin-top: 7px;
	margin-bottom: 7px ;
    width: 289px;
	font-family: "Ubuntu", sans-serif;
}

.mail {
	background: rgba(236 243 248);
	padding-top: 100px;
	padding-bottom: 100px;
}

.form {
	margin-top: 40px;
}

.input {
	width: 340px;
	border: 1px solid #cccccc;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	height: 47px;
	padding-left: 25px;
	display: block;
	margin: 0 auto;
}

.btn-form {
	border: 0;
	cursor: pointer;
	display: inline;
    width: 340px;

}

.footer {
	padding: 33px 0;
	background: rgba(22 77 122);
}

.credits {
	color: #d4cee3;
	font-size: 14px;
	margin: 0;
}
.container {
	width: 1170px;
	margin: 0 auto;
}

/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
	.wrapper , .skills{
		flex-direction: column;
	}
	.skills{
		align-items: center;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container{
		width: 95%;
	}
	.header{
		padding-bottom: 0px;
	}
	.input{
		width:90%;
		font-size: 14px;
		padding-left: 10px;
	}
	.offer{
		align-items: center;
	}
	.desktop , .offer , .intro , .wrapper , .btn , .form{
		width: 100%;
	}
	.btn , .input{
		border-radius: 20px;
	}
}
